* {
  box-sizing: border-box;
  font-family: Arial;
}

.bodyAfterLog {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

header nav {
    display: grid;
    grid-template-columns: 0.95fr auto 1fr;
    justify-content: space-evenly;
}

header h1 {
    margin: 2vh;
}

header ol {
    list-style: none;
    display: flex;
    margin: 0;
}

header a {
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 100%;
}

a {
    text-decoration: none;
    color: black
}

.logOut{
    justify-self: end;
    font-size: inherit
}

pre {
    min-height: 5vh;
}

textarea {
    height: 10vh;
}


main {
    flex: 1;
    background-color: #F5F2F2;
}

.main {
    display: grid;
    grid-template-columns: auto 1fr;

}

menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 15vw;
    border-right: 1px solid #B6AE9F;
    box-sizing: border-box;
    height: calc(100vh - 37px - 2*18.9px);
}

.main ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.main li {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 3vh 0;
    margin: 0;
    width: 100%;
}

button {
    background-color: inherit;
    border: 0;
    font-size: 1.3rem;
    cursor: pointer;
}

li button{
    width: 100%;
    height: 100%;
}

.subjectButtonsContainer{
    display: flex;
    flex-direction: column;
}

.subjectButtons {
    height: 4rem;
}

menu input{
    border: 1px solid #B6AE9F;
    border-radius: 10px;
    font-size: 1.2rem;
}

#searchButton{
    border-width: 1px 0 1px 0px;
    border-color: #B6AE9F;
    border-style: solid;
}

.main #posts {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 30px;
}

.main #dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 80vh;
    gap: 2rem;
    overflow-y: auto;

}

.content {
    display: grid;
    grid-template-rows: 1fr auto;
    width: 70%;
    padding: 10px;
    flex-shrink: 0;
    border: 1px outset #e3dfd5;
    border-radius: 10px;
}

.contentFooter {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 1px;
}

.contentButtons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#dashboardButtons {
    display: flex;
    justify-content: flex-end;
}

#addContent {
    padding: 0.5% 1.5% 0.5% 1.5%;
    border-radius: 5px;
}

textarea {
    background-color: #F5F2F2;
    padding: 0px;
    border: none;
    resize: none;
}

.modal {
  border: none;
  border-radius: 8px;
  background-color: #F5F2F2;
  width: 80vw;
  max-height: 80vh;
  padding-right: none;
}

.modal[open] {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10px;
   
}

.modal p{
    border-radius: 3px;
    padding: 10px;
    max-height: 150px;

}

.modal button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
}

.textPostContainer{
    width: 100%;
}

.commentsContainer{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
}

.footerContainer{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
}

.inputForPostingComments {
   height: 35px;
   width: 80%;
   justify-self: center;
   border: none;
   border-radius: 3px;
   overflow-y: auto;
   background-color: #dcd6d6;
}

.formEditProfile button{
    padding: 3px;
    border-radius: 5px;
}

main.profile{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main.bodyEditProfile{
    display: flex;
    align-items: center;
    justify-content: center;
} 

div#uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

img {
    height: 300px;
    width: 290px;
    border-radius: 50%;
}

.bodyLoginAndRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F2F2;
    margin: 0px;
}

.olLogin{
    list-style: none;
}

.formLoginAndRegister{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    gap: 10px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    align-items: center;
}

.formEditProfile{
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    padding: 0px 10px;
    gap: 5px;
}

.divEditProfile{
    max-height: 750px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    border-radius: 8px;
}

.formLoginAndRegister input, .formEditProfile input{
    padding: 14px 16px;
    border: 1px solid #0000001a;
    width: 330px;
    
}

.formEditProfile input{
    width: 20vw;
}

.formLoginAndRegister button{
    margin-top: 40px;
    background-color: #d9d5ce;
    width: 50%;
    border-radius: 6px;
}


.line{
    border-bottom: 1px solid #0000001a;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.lineEditProfile{
    border-bottom: 1px solid #0000001a;
    margin: 5px 14px;
}

.formLoginAndRegister a{
    text-decoration: none;
    background-color: #80b866;
    color: white;
    padding: 10px 10px;
    border-radius: 6px;
}

h3{
    margin: 15px 0px;
}

header a:hover {
    background-color: #90AB8B;
    color: white
}

.logOut:hover{
    background-color: #90AB8B;
    color: whitesmoke
}

a:hover {
    color: rgb(69, 67, 67)
}

main.main li:hover {
    background-color: #e3dfd5;
}

main.main .delete:hover {
    background-color: #cd1417d4;
    color: whitesmoke;
    border-radius: 10%;
}

main.main .add:hover {
    background-color: #7cab66;
    color: whitesmoke;
}

main.main #searchButton:hover {
    background-color: #B6AE9F;
    color: whitesmoke;
}

input:focus{
    border: 1px solid #B6AE9F;
    outline: none;
}

textarea:focus{
    outline: none;
}

.formLoginAndRegister button:hover{
    color: white;
    background-color: #b9b7b3;
}

.formLoginAndRegister a:hover{
    background-color: #7cab66;
}

.formEditProfile button:hover{
    background-color: #7cab66;
    color: whitesmoke;
}

.content:hover{
    background-color: #e3dfd5;
}

.content:hover textarea{
    background-color: #e3dfd5;
}